<app-header></app-header>
<div>
  <h1>{{titulo}}</h1>
  <h2>EJERCICIO SESION 15</h2>
  <p>Event binding</p>
  <button class="border" (click)="cambio()">{{opcion}}</button>
  <div *ngIf="mostrarDiv">
    <p>Event Binding es el mecanismo de data binding mediante el cual se trabaja con los eventos que se encuentran en el DOM</p>
  </div>
  <h3>Two way binding</h3>
  <p>{{Two_way}}</p>
  <textarea name="" id="" cols="30" rows="10" [(ngModel)]="Two_way" class="border"></textarea>
</div>
<div class="w-3/4 mt-10 p-8 mx-auto">
  <router-outlet></router-outlet>
</div>
